    <!-- Begin Footer -->
    <div class="tn-footer">
        <footer id="footer">
            <div id="footer-top">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 columns">
                <ul class="inline-list"> 
                    <li id="footer-livechat" class>
                        <a href="#" class="icon-chat" onClick="openFooterChat()" target="_blank">
                            Live Chat
                        </a>
                        <div class="livechat">
                            <script type='text/javascript' >
                                function openFooterChat() {
                                    window.open ("https://help.tn.gov/sn_customerservice_tn_chat_selector.do", "popup", "width=900, height=600"); 
                                 };
                            </script>
                        </div>
                    </li>
                </ul>
            </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 columns text-right">
                        <ul class="inline-list">
                            <li><a href="https://www.tn.gov/help-tn-main.html" class="icon-help-circled">Help</a></li>
                            <li id="footer-translate">
				<a href="#" class="icon-book">Translate</a>
				<div class="drop right">
				  <div class="box">
					<div id="google_translate_element"></div>
				  </div>
				</div>
			  </li>
                            <li id="footer-fontsize">
                                <a href="#" class="icon-font">Font Size</a>
                                <div class="drop right">
                                    <div class="box">
                                        <ul class="inline-list">
                                            <li><a class="button" data-font-size="small">a-</a></li>
                                            <li><a class="button" data-font-size="normal">Normal</a></li>
                                            <li><a class="button" data-font-size="large">A+</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="#" class="starball"><img src="https://tn.gov/etc/clientlibs/tncore/main/img/footer-starball.png" alt="Tristar" width="100%"></a>
            </div>
            <div id="footer-bottom">
                <div class="row">
                    <div class="large-12 medium-12 columns">
			<ul class="inline-list">
			  <li><a href="https://tn.gov" class="first">TN.gov</a></li>
			  
			</ul>
		  </div>
		  <div class="large-12 medium-12 columns text-right">
			<ul class="inline-list">
			 <li></li>
			</ul>
		  </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- End Footer -->
    <div id="overlay"></div>




  
