   <!-- Begin Header -->
    <div class="tn-header">
        <header id="header">
            <div class="row center-block top-nav">
                <a class="logo tn-logo" href="#" data-logo="state-government">
                    <div>Home</div>
                </a>
            </div>
            <div class="row center-block agency">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 columns title">
                    <a href="#">
                        <img src="https://tn.gov/etc/clientlibs/tncore/main/img/logos/state-government.png" alt="  State of Tennessee" id="entity-name" data-pin-nopin="true"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 columns text-right">
                    <!-- Begin Search Component -->
                   
                    <!-- END Search Component -->
                </div>
            </div>
            <div class="backdrop" style="background-image:url('https://www.tn.gov/content/dam/headers/test.jpg')"></div> 
        </header>
    </div>
    <!-- End Header -->