
    <!-- Begin TopNav -->
    <div class="tn-topnav">
        <nav id="nav">
            <div class="row center-block">
                <div class="col-lg-12">
                    <div class="logo-small tn-logo">
                        <a href="#"></a>
                    </div>
                    <div class="mobile-show icon-menu mobile-menu">Sections</div>
                    <ul class="inline-list nav-items">
                        <li>
                            <a href="/" class="icon-home">Home</a>
                        </li>
                        <li>
                            <a href="about" class="icon-help-circled">About</a>
                        </li>
                    </ul>
                    <div class="right primary-print">
                        <a href="javascript:window.print();" class="icon-print"> </a>
                    </div>
                    <div class="right secondary-print">
                        <a href="javascript:window.print();" class="icon-print"></a>
                    </div>
                    <div class="right secondary-search">
                        <a class="icon-search"> </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- End TopNav -->