
<div class="jumbotron">
    <!-- Start panel component -->
    <div class="tn-panel">
        <div class="panel">
            <div class="tn-rte">
                <p>Hostname:&nbsp;{{hostname}}</p>
                <p>Environment:&nbsp;{{env}}</p>
                <p>{{screamIt message}}</p>
            </div>
        </div>
    </div>
    <!-- Start panel component -->
</div>

